<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Film Name</th>
        <th>Genre</th>
        <th>Release Date</th>
        <th>5 Star Rating</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="#">The GodFather</a></td>
        <td>Crime</td>
        <td>1972</td>
        <td>9.2</td>
        <td>
          <button type="button" class="btn btn-outline-primary">Delete</button>
        </td>
      </tr>
      <tr>
        <td><a href="#">The GodFather</a></td>
        <td>Crime</td>
        <td>1972</td>
        <td>9.2</td>
        <td>
          <button type="button" class="btn btn-outline-primary">Delete</button>
        </td>
      </tr>
      <tr>
        <td><a href="#">The GodFather</a></td>
        <td>Crime</td>
        <td>1972</td>
        <td>9.2</td>
        <td>
          <button type="button" class="btn btn-outline-primary">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
